# .env.example
# Đổi tên file này thành .env và điền thông tin thật của bạn vào
APP_NAME="TaskHub API"
API_PREFIX="/api/v1"

# Thay thế bằng user, pass, host, port và tên database thật
DATABASE_URL="postgresql+asyncpg://user:password@localhost:5432/db_name"
